@page "/etablissements/details"
@using Microsoft.EntityFrameworkCore
@using ufasforms.Data
@inject IDbContextFactory<ufasforms.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Etablissement</h2>
    <hr />
    @if (etablissement is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NomEtablissement</dt>
            <dd class="col-sm-10">@etablissement.NomEtablissement</dd>
        </dl>
        <div>
            <a href="@($"/etablissements/edit?id={etablissement.Id}")">Edit</a> |
            <a href="@($"/etablissements")">Back to List</a>
        </div>
    }
</div>

@code {
    private Etablissement? etablissement;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        etablissement = await context.Etablissements.FirstOrDefaultAsync(m => m.Id == Id);

        if (etablissement is null)
        {
            NavigationManager.NotFound();
        }
    }
}
