@page "/etablissements/edit"
@using Microsoft.EntityFrameworkCore
@using ufasforms.Data
@inject IDbContextFactory<ufasforms.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Etablissement</h2>
<hr />
@if (Etablissement is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Etablissement" OnValidSubmit="UpdateEtablissement" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Etablissement.Id" value="@Etablissement.Id" />
                <div class="mb-3">
                    <label for="nometablissement" class="form-label">NomEtablissement:</label>
                    <InputText id="nometablissement" @bind-Value="Etablissement.NomEtablissement" class="form-control" />
                    <ValidationMessage For="() => Etablissement.NomEtablissement" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/etablissements">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Etablissement? Etablissement { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Etablissement ??= await context.Etablissements.FirstOrDefaultAsync(m => m.Id == Id);

        if (Etablissement is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEtablissement()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Etablissement!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EtablissementExists(Etablissement!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/etablissements");
    }

    private bool EtablissementExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Etablissements.Any(e => e.Id == id);
    }
}
