@page "/etablissements"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ufasforms.Data
@using ufasforms.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ufasforms.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="etablissements/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Etablissements">
    <PropertyColumn Property="etablissement => etablissement.NomEtablissement" />

    <TemplateColumn Context="etablissement">
        <a href="@($"etablissements/edit?id={etablissement.Id}")">Edit</a> |
        <a href="@($"etablissements/details?id={etablissement.Id}")">Details</a> |
        <a href="@($"etablissements/delete?id={etablissement.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
